@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Paleta de colores */
  --rtc-color-1: #2C2C2C;
  --rtc-color-2: #F1F1F1;
  --rtc-color-3: #FFFFFF;
  --rtc-color-4: #FFF852;
  --rtc-color-5: #231f20;
  --rtc-color-6: #000000;
  --rtc-color-7: #9B9B9B;

  /* COLORS FONTS */
  --rtc-color-font-v1: var(--rtc-color-3);
  --rtc-color-font-v2: var(--rtc-color-4);
  --rtc-color-font-v3: var(--rtc-color-3);

  /* BACKGROUND COLORS*/
  --rtc-nav-background: var(--rtc-color-1);
  --rtc-filtro-background: var(--rtc-color-7);
  --rtc-figure-background: var(--rtc-color-2);
  --rtc-button-background: var(--rtc-color-2);
  --rtc-button-hover: var(--rtc-color-4);
  --rtc-footer-background: var(--rtc-color-6);

  /* FONTS FAMILY */
  --rtc-font-v1: 'Inter', sans-serif;

  /* FONTS SIZE*/
  --rtc-font-size-1: 16px;
  --rtc-font-size-2: 20px;
  --rtc-font-size-3: 24px;

  /* MARGIN - PADDING - GAP */
  --rtc-mpg-1: 5px;
  --rtc-mpg-2: 10px;
  --rtc-mpg-3: 15px;
  --rtc-mpg-4: 20px;
  --rtc-mpg-5: 25px;
  --rtc-mpg-6: 30px;

  /* DINAMYC MARGIN - PADDING - GAP */
  --rtc-dpmg-1: 1vw;
  --rtc-dpmg-2: 2vw;
  --rtc-dpmg-3: 3vw;
  --rtc-dpmg-4: 4vw;

  /* BORDER COLORS */
  --rtc-border-color: var(--rtc-color-7);

  /* BORDER RADIUS */
  --rtc-radius-1: 5px;
  --rtc-radius-2: 10px;
  --rtc-radius-3: 20px;

  /* SHADOW COLOR */
  --rtc-shadow-color: var(--rtc-color-7);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--rtc-font-v1);
  font-weight: 400;
  font-size: var(--rtc-font-size-2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a, h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
}

ol, ul, li {
  list-style: none;
}

.flex-row{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.img-background {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}

img {
  object-fit: cover;
  object-position: center;
}

.shadow {
  box-shadow: 2px 2px 5px var(--rtc-shadow-color);
}

/*? ------------ NAV ------------ */

body > header{
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 73px;
  width: 100%;
  background-color: var(--rtc-nav-background);
  align-items: center;
  justify-content: center;
}

.nav-bar{
  width: 98%;
  justify-content: space-between;
  align-items: center;
  color: var(--rtc-color-font-v1);
}

.nav-bar svg{
  height: 35px;
  width: 35px;
}

.nav-bar .logo {
  height: 53px;
}

.nav-bar ul {
  gap: var(--rtc-dpmg-2);
}

.nav-bar li {
  display: flex;
  align-items: center;
}

.nav-bar li:hover, .menu li:hover {
  color: var(--rtc-color-font-v2);
  cursor: pointer;
}


.nav-bar button{
  all: unset;
  cursor: pointer;
}

#toggleMenu{
  display: none;
}

/* Menú oculto por defecto */
.menu {
  position: absolute;
  top: 73px;
  left: 0;
  width: 100%;
  background-color: var(--rtc-nav-background);
  color: var(--rtc-color-font-v1);
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

/* Estado cerrado */
.menu.cerrado {
  height: 0;
}

/* Estado abierto */
.menu.abierto {
  height: 165px;
}

.menu li{
  line-height: 40px;
  padding-left: var(--rtc-mpg-6);
  border-bottom: 1px solid var(--rtc-color-7);
}

.menu li:first-child{
  border-top: 1px solid var(--rtc-color-7);
}

/*? ------------ HERO ------------ */
section.hero {
  background-image: url("/assets/img/hero.png");
  max-height: 196px;
}

/*? ------------ FILTROS ------------ */

.conteiner-filtros {
  position: sticky;
  top: 73px;
  width: 100%;
  height: 15px;
  background-color: var(--rtc-filtro-background);
  z-index: 100;
}

.filtros {
  position: sticky;
  top: 73px;
  width: 100%;
  background-color: var(--rtc-filtro-background);
  transition: height 0.3s ease-in-out;
  z-index: 998;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estado cerrado: solo muestra la barra y el botón */
.filtros.cerrado {
  height: 20px;
}

/* Estado abierto: muestra los filtros */
.filtros.abierto {
  height: 155px;
}

.filtros-form {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--rtc-mpg-3);
  gap: var(--rtc-mpg-3);
  max-width: 717px;
  background-color: var(--rtc-figure-background);
  border-radius: var(--rtc-radius-3);
  box-shadow: 0px 0px 8px 0px var(--rtc-color-2);
}

.filtros-form * {
  font-size: var(--rtc-font-size-1);
}

.filtros.abierto .filtros-form {
  opacity: 1;
  visibility: visible;
}

.filtros-form input,
.filtros-form select {
  border: 1px solid var(--rtc-border-color);
  border-radius: var(--rtc-radius-2);
  padding: 2px;
  background-color: var(--rtc-color-2);
  color: var(--rtc-color-6);
  outline: none;
  transition: all 0.3s ease-in-out;
}

.filtros-form input:hover,
.filtros-form select:hover {
  border-color: var(--rtc-button-hover);
  background-color: var(--rtc-color-3);
}

/* Centrar la opción vacía en los selects */
.filtros-form select option[value=""] {
  text-align: center;
}

.filtros-form button {
  border: 1px solid var(--rtc-color-7);
  border-radius: var(--rtc-radius-2);
  padding: 4px 15px;
  background-color: var(--rtc-button-background);
  color: var(--rtc-color-6);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.filtros-form button:hover {
  background-color: var(--rtc-button-hover);
}

/* Botón dentro del aside */
.pestana {
  position: absolute;
  left: 50%;
  bottom: -18px; /* Sobresale hacia abajo */
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: var(--rtc-filtro-background);
  border-radius: 50%; /* Botón completamente redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: none;
}

/* Ícono de la flecha */
.pestana img {
  width: 20px;
  transition: transform 0.3s ease-in-out;
}

/* Rotar la flecha cuando se abre */
.filtros.cerrado .pestana img {
  transform: rotate(180deg);
}

/*? ------------ ARTICULOS ------------ */
section#articulos {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  padding: var(--rtc-mpg-6);
  gap: var(--rtc-mpg-6);
}

#articulos p {
  width: 100%;
  text-align: center;
}

article{
  display: flex;
  flex-direction: column;
  width: 23%;
  max-width: 320px;
  min-width: 286px;
  height: 430px;
  border-radius: var(--rtc-radius-2);
  transition: transform 0.3s ease-in-out;
}

article:hover{
  transform: scale(1.05);
}

article figure {
  position: relative;
  height: 260px;
  background-color: var(--rtc-figure-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rtc-radius-2) 0 0;
}

article .valoracion {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
}

article img {
  width: 90%;
}

article section {
  flex-grow: 1;
  padding: var(--rtc-mpg-2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article h3{
  font-size: var(--rtc-font-size-1);
}

article p{
  font-size: var(--rtc-font-size-2);
  display: flex;
  justify-content: space-between;
}

article .agregar{
  height: 46px;
  font-size: var(--rtc-font-size-3);
  background-color: var(--rtc-button-background);
  border: 1px solid var(--rtc-border-color);
  border-radius: var(--rtc-radius-1);
  cursor: pointer;
}

article .agregar:hover{
  box-shadow: 0px 0px 18px 4px var(--rtc-color-4);
}

.agregar {
  background-color: var(--rtc-button-background);
}

.agregar.añadido {
  background-color: var(--rtc-color-4);
}

.agregar.añadido:hover {
  background-color: var(--rtc-color-4);
}

#contador-carrito {
  position: absolute;
  bottom: 10px;
  right: 70px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.mensaje-sin-resultados {
  width: 100%;
  text-align: center;
  color: red;
  font-size: 18px;
  margin: 20px 0;
}

.mensaje-sin-resultados h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ff3333;
}

.mensaje-sin-resultados p {
  font-size: 16px;
  color: #555;
}

.separador {
  border: none;
  height: 2px;
  background-color: #ff3333;
  width: 50%;
  margin: 10px auto;
}

.sugerencias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

.sugerencias article {
  border: 2px solid #ffcc00;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
}


/*? ------------ FOOTER ------------ */
footer {
  padding: var(--rtc-mpg-6);
  background-color: var(--rtc-footer-background);
  color: var(--rtc-color-font-v3);
  justify-content: space-around;
  line-height: 150%;
}

footer ul li:first-child{
  font-weight: bold;
  padding-bottom: var(--rtc-mpg-2);
}

footer ul li:not(:first-child):hover {
  text-decoration: underline;
}


@media (max-width: 870px) {
/*? ------------ NAV-BAR ------------ */
  #toggleMenu{
    display: block;
  }

  #lista {
    display: none;
  }

  #newList{
    display: flex;
    flex-direction: column;
  }
/*? ------------ FILTROS ------------ */
  .filtros.abierto {
    height: 170px; /* Espacio para los filtros */
    padding-right: 10px;
    padding-left: 10px;
  }

/*? ------------ FOOTER ------------ */
  footer{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer ul{
    margin-top: var(--rtc-mpg-6);
  }
}